@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

body {
  overflow: hidden;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  height: 100vh;
  background-image: url(./assets/galaxy_small.png);
  // background-color: #242424;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

.Container {
  width: calc(100% - 200px);
  margin: 0 auto;
}
.nav_border {
  border-bottom: 2px solid #26282e;
}

ul li a {
  font-size: 18px;
  transition: all 0.2s ease-in;
}
ul li a:hover {
  color: #b1b1b1;
}

.respo_ul li {
  width: 100%;
}
.respo_ul li a {
  font-size: 28px;
  font-weight: 600px;
}

.menu_line {
  height: 1px;
  width: calc(100% - 60px);
  background: #333;
  margin: 8px 0px;
}

.nav_element::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #b1b1b1;
  transition: width 0.3s;
}

.nav_element:hover::after {
  width: 100%;
  transition: width 0.3s;
}

.main_title {
  background: linear-gradient(to right, white, #ff4006);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 1453px) {
  .Container {
    width: calc(100% - 120px);
  }
}
@media (max-width: 1283px) {
  .Container {
    width: calc(100% - 50px);
  }
  ul li a {
    font-size: 16px;
  }
}
