:root {
  --card-color: rgb(2 10 22);
}

#cards {
  display: grid;
  gap: 10px;
  grid-template-columns: auto auto;
}

#cards:hover > .card > .card-border {
  opacity: 1;
}

.card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  cursor: pointer;
  height: 200px;
  position: relative;
  width: 200px;
}

.card:hover::before,
.card:hover > .card-border {
  opacity: 1;
}

.card::before,
.card > .card-border {
  border-radius: inherit;
  content: "";
  height: 100%;
  width: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  opacity: 0;
  transition: opacity 500ms;
}

.card::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.1),
    transparent 30%
  );
  z-index: 3;
}
.card > .card-border {
  background: radial-gradient(
    400px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.5),
    transparent 40%
  );
  z-index: 1;
}

.card > .card-content {
  background-color: var(--card-color);
  border-radius: inherit;
  margin: 1px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-content p {
  text-transform: uppercase;
  font-weight: 200;
}
.card-content h2 {
  font-weight: 900;
  font-size: 55px;
  line-height: 1;
  margin: 15px 0px;
}

@media (max-width: 1023px) {
  #cards {
    width: 410px;
  }
}
@media (min-width: 1537px) {
  .card {
    width: 250px;
    height: 250px;
  }
}
